<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Switch background</title>    
    <link href="css/switchBg.css" rel="stylesheet" type="text/css" />	
    <link href="css/skin_0.css" rel="stylesheet" type="text/css" id="cssfile" />	
    <script type="text/javascript" src="../jquery.js"></script>
	<script type="text/javascript" src="js/jquery.cookie.js"></script>
	<script type="text/javascript" src="js/jqueryUI.js"></script>
	<script type="text/javascript" src="js/switchBg.js"></script>
</head>
<body>
	<!-- <ul id="skin">
		<li id="skin_0"><img src="Kris1.jpg"  title="Kris1"/></li>
		<li id="skin_1"><img src="Kris2.jpg"  title="Kris2"/></li>
		<li id="skin_2"><img src="Kris3.jpg"  title="Kris3"/></li>
	</ul>
	<div id="content"></div>
	 -->
	
</body>
</html>


